body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #F9F9F9;
  }

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  position: top;
  display: flex;
  align-items: center;
  }

  #nav1 {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
  }

  #nav2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #img-logo {
    margin-right: 10em;
  }

  #search-bar {
    width: 670px;
  }

#img-logo {
  width: 100px;
  margin-left: 15px;
}

#create-img, #apps-img, #notifications-img {
  width: 50px;
}

h1 {
  width: 70%;
}

iframe {
  width: 68%;
  height: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding: 4px;
  font-size: 14px;
}

#dislikes {
  width: 50px;
}

#likes {
  width: 35px;
  height: 35px;
}

#share-img {
  width: 40px;
}

#views {
  float: riht;
}

#subscribe-btn {
   float: right;
}

article {
  width: 68%;
}

/*.
  split {
  height: 100%;
  top: 35px;
  position:absolute;
  overflow-x: hidden;
  padding-top: 40px;
}
*/

/* Control the left side */
.left {
  margin-top: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  /*
  margin: 15px;
  width: 68%;
  left: 0;*/
}

/* Control the right side */
.right {
  margin-top: 50px;
  position: absolute;
  left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  /*
  width: 30%;
  right: 0;*/
}
